<% provide(:title, 'About') %>

<div class="row">

  <div class="col-md-12">
    <div class="page-header">
      <h1 class="lead about-header"><span class="glyphicon glyphicon-info-sign text-muted" style="font-size: 24px"></span> Information</h1>
    </div>
    <dl>
      <dt>Development Team</dt>
      <dd>Mei Hou, Feng Tian, Shuai Jiang, Dechang Yang, Lei Kong, Ge Gao</dd>
      <br>
      <dt>Publication</dt>
      <dd>Hou,M., Tian,F., Jiang,S., Yang,D., Kong,L. and Gao,G. (2016) <a href="https://bmcgenomics.biomedcentral.com/articles/10.1186/s12864-016-3329-3" target="_blank">LocExpress: a web server for efficiently estimating expression of novel transcripts.</a> <em>BMC genomics. </em>2016 17:3329</dd>
      <br>
      <dt>Contact</dt>
      <dd><a href="mailto:annolnc@mail.cbi.pku.edu.cn">loc-express@mail.cbi.pku.edu.cn</a></dd>
    </dl>
  </div>

  <div class="col-md-12">
    <div class="page-header">
      <h1 class="lead about-header"><span class="glyphicon glyphicon-paperclip text-muted" style="font-size: 24px"></span> Supplementary</h1>
    </div>
    <ul>
      <li><%= link_to "Sample and mapping information", url="#{root_path}LocExpress_sample_mapping_info.xlsx"%></li>
      <li><%= link_to "LocExpress source code", url="#{root_path}LocExpress_src.zip"%></li>
    </ul>
  </div>

</div>

