<% provide(:title, 'FAQ') %>

<% content_for :js do %>
    <script>
      $(document).ready(function(){
        $('#nav-help').addClass('active');

        // generate the table of content
        $('#q-a>li>p').each(function() {
          var text = $(this).text();
          var id = $(this).attr('id');
          $('#table-of-content').append('<a href="#' + id + '"><li>' + text + '</li></a>')
        });

        // add target=_blank to <a>
        $('#q-a a').attr('target', '_blank')
      })
    </script>
<% end %>

<% content_for :css do %>
    <style>
      ol {
        padding-left: 20px;
      }
      #q-a>li>p {
        font-size: 20px;
        font-weight: 800;
      }

      .al-list {
        margin-bottom: 10px;
      }
    </style>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1 class="lead about-header"><span class="glyphicon glyphicon-th-list text-muted" style="font-size: 24px"></span> Table of Contents</h1>
    </div>
    <p><em>If you have more questions, please contact <a href="mailto:annolnc@mail.cbi.pku.edu.cn">loc-express@mail.cbi.pku.edu.cn</a>.</em></p>
    <ol id="table-of-content">
    </ol>

    <div class="page-header">
      <h1 class="lead about-header"><span class="glyphicon glyphicon-th-list text-muted" style="font-size: 24px"></span> Q&A</h1>
    </div>
    <ol id="q-a">
      <li><p id="what-is-loc-express">What is LocExpress?</p>
        <div>
          <p>
            <%= link_to "LocExpress", root_path %>  is a web server for efficiently estimating expression of novel transcripts across multiple tissues and cell types in human and mouse. For a given gene model, LocExpress estimates its abundance only based on its <strong>minimum spanning bundle (MSB)</strong> region instead of reanalyzing the whole transcriptome. Such context-oriented strategy enables <strong>the nearly real-time expression profiling for a novel transcript in hundreds of samples within minutes</strong>, with the same accuracy of standard quantification algorithms. In our evaluation, the median time for a novel transcript per sample is <strong>1.13s in human</strong> and <strong>0.43s in mouse</strong>.

          </p>
        </div>
      </li>

      <li><p id="submit-require">How do I submit transcripts? What are the requirements?</p>
        <div>
          <p>Currently, LocExpress allows the submission of transcripts in <a href="http://mblab.wustl.edu/GTF2.html">GTF</a> format. You can either paste GTF contents in the textbox or submit a file at the <%= link_to "home page", new_submit_path%> . Because LocExpress is designed for expression estimation at local region, the maximum spanning region of the GTF file should <strong>less than 1 Mb</strong> and the total line number should be <strong>within 1000</strong>.</p>
        </div>
      </li>

      <li><p id="multiple-transcripts">Can I submit multiple transcripts in one time?</p>
        <div>
          <p>Yes, LocExpress supports multiple transcripts in one submission if they meet criteria <a href="#submit-require">above</a>.</p>
        </div>
      </li>

      <li><p id="sample-info">What samples does LocExpress use for each cell type?</p>
        <div>
          <p>Please see details about sample information <a href="<%= root_path %>LocExpress_sample_mapping_info.xlsx">here</a>.</p>
        </div>
      </li>

    </ol>
  </div>
</div>
