<div class="panel panel-default exp-panel">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse">
        <%= trans_name %>
      </a>
    </h4>
  </div>

  <div class="panel-collapse collapse for-panel-body">
    <div class="panel-body">

      <% (0..sample_class_num-1).each do |i| %>
          <% # get width
            cell_type_num = cell_type_num_list[i]
            char_width = get_chart_width(cell_type_num)
          %>
          <div class="table-responsive">
              <div class='exp-chart' style="width: <%= char_width %>px; margin: 0 auto"></div>
          </div>
      <% end %>

    </div>
  </div>

</div>

<!--<div class="panel panel-default">-->
  <!--<div class="panel-heading">-->
    <!--<h4 class="panel-title">-->
      <!--<a data-toggle="collapse" data-target="#collapseOne" href="#collapseOne">-->
        <!--Collapsible Group Item #1-->
      <!--</a>-->
    <!--</h4>-->
  <!--</div>-->

  <!--<div id="collapseOne" class="panel-collapse collapse in">-->
    <!--<div class="panel-body">xxxx</div>-->
  <!--</div>-->
<!--</div>-->