<% provide(:title, 'Submit') %>

<% content_for :css_include do %>
    <link rel="stylesheet" href="<%= root_path %>jstree/dist/themes/proton/style.min.css" />
<% end %>

<% content_for :js_include do %>
    <script src="<%= root_path %>jstree/dist/jstree.min.js"></script>
<% end %>

<% content_for :css do%>
    <style>
      #input-gtf-text::-webkit-input-placeholder {
        font-size: 17px;
        font-weight: 500;
        color: #808080
      }
      #input-gtf-text::-moz-placeholder {
        font-size: 17px;
        font-weight: 500;
        color: #808080
      }
    </style>
<% end %>

<% content_for :js do %>
    <script>
      $('document').ready(function(){

        $('#check-box-tree').jstree({
          'plugins': ["wholerow", "checkbox"],
          'core': {
            'themes': {
              'name': 'proton',
              'responsive': true,
              "icons":false
            }
          }
        });

        // select the normal tissue of human
        var human_normal_tissue = $('#check-box-tree ul li:first ul:first li:first a')[0];
        human_normal_tissue.click();

        // ajax for try out trans ajax
        $('#demo-gtf li').click(function(){
          var name = $(this).find('a').text();
          var url = '<%= root_path %>' + 'tryout_trans/' + name + '.gtf';
          $.get(url, function(data, status){
            $('#input-gtf-text').val(data)
          });
        });

        // for the try out trans like clickable
        $('#submit-form li a').attr('href', 'javascript:void(0)');

        // process parameters before submit
        $('#submit-form').submit(function(){
          var content = $(this).find('.user-content').val();
          var gtf_file = $('#gtf_file')[0].files[0];
          var gtf_is_defined = (undefined != gtf_file);

          // empty content and not upload file
          if (content == '' && (! gtf_is_defined)) {
            return false
          }
          // empty file uploaded
          else if (gtf_is_defined && gtf_file.size == 0) {
            alert('Empty file!');
            return false
          }
          else if (gtf_is_defined && gtf_file.size > 1048576) { // 1M
            alert('File size should be less than 1M!');
            return false
          }
          else {
            // in case text box and file are all filled //
            if (content != '' && gtf_is_defined && gtf_file.length != 0) {
              alert('Only content in the file will be processed.')
            }

            // check the selected items //
            var raw_cell_types = $('#check-box-tree').jstree("get_selected");
            if (raw_cell_types.length == 0) {
              // warn no items selected //
              $.get({
                url: "<%= submit_empty_cell_type_path %>",
                data: '',
                dataType: 'html',
                success: function(data) {
                  $('#warn-empty-item').html(data)
                }
              });
              return false
            } else {
              // for the submit //
              // 0. remove all previous input
              $('#submit-form').find("input[name='cell_types[]']").remove();
              var cell_types = [];
              for (var i in raw_cell_types) {
                var cell_type = raw_cell_types[i];
                // 1.  filter selected IDs added by jsTree
                if (cell_type.substring(0, 1) != "j") {
                  // 2. add the selected items value to form parameters
                  var input = $("<input>")
                      .attr("type", "hidden")
                      .attr("name", "cell_types[]").val(cell_type);
                  $('#submit-form').append($(input));
                }
              }
            }
          }
        });

      });

    </script>
<% end %>

<div class="row">
  <div class="col-md-12">
    <h1 class="text-center big-title">LocExpress</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12" id="warn-empty-item">

  </div>
</div>

<div class="row" style="margin-top: 4%; margin-bottom: 5%">
  <div class="col-md-3">
    <div id="check-box-tree">
      <ul>
        <%
          @cell_types_info.each do |species_hash|
            species_hash.each do |species, sample_class_list|
        %>
                <li class="jstree-open"><%= species %>
                  <% sample_class_list.each do |sample_class_hash| %>

                      <ul>
                        <% sample_class_hash.each do |sample_class, cell_type_list| %>
                            <li><%= sample_class %>
                              <ul>
                                <% cell_type_list.each do |cell_type| %>
                                    <li id="<%= cell_type[0] %>" class="cell-type"><%= cell_type[1] %></li>
                                <% end %>
                              </ul>
                            </li>
                        <% end %>
                      </ul>
                  <% end %>
            <% end %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="col-md-8 col-md-offset-1">

    <form id="submit-form" role="form" method="post" action="<%= submit_index_path %>" enctype="multipart/form-data">
      <textarea id="input-gtf-text" name="input_gtf_text" class="form-control user-content" rows="20" placeholder="LocExpress is a web server for real-time expression estimation of novel transcripts. You can paste transcript models in GTF format here. Now LocExpress supports human transcripts based on hg38 and mouse transcripts based on mm10."></textarea>

      <div class="help-block" style="margin-top: 20px">
        <ul class="list-inline" id="demo-gtf">
          <li>Try out:</li>
          <li><a>Demo_1</a></li>
          <li><a>Demo_2</a></li>
          <li><a>Demo_3</a></li>
          <li><a>Demo_4</a></li>
          <li><a>Demo_5</a></li>
        </ul>
      </div>

      <div class="row" style="margin-top: 20px;">

        <div class="col-md-10">
          <div class="form-group">
            <label for="file" class="large-text-1">Or you can upload a GTF file</label>
            <input type="file" name="gtf_file" id="gtf_file">
          </div>
        </div>

        <div class="col-md-2">
          <button type="submit" class="btn btn-success btn-block" style="" id="seq-go">GO</button>
        </div>

      </div>
    </form>
  </div>
</div>



