<% provide(:title, 'Result') %>
<%
  result_url = submit_url(@submit.name)
  status_info, class_to_add = get_run_status_info(@submit.status)
  trans_num = @total_exp_hash.length
  trans_name_list = @total_exp_hash.keys
  if trans_num > 0
    sample_class_list = @total_exp_hash.first[1].keys
  end
%>


<% content_for :js_include do %>
    <%= javascript_include_tag 'submit.js' %>
<% end %>

<% content_for :css_include do %>
<% end %>

<% content_for :js do %>
    <script>
      var cle = '';
      var totalSec = 30;
      function clear_cle() {
        if (this.cle != '') {
          window.clearInterval(this.cle);
        }
      }

      function countTime() {
        this.second =  this.totalSec;
        this.cle = setInterval('flushCount()', 1000)
      }

      function flushCount() {
        this.second --;
        if(this.second <= 0) {
          // stop current counting
          clear_cle();
          window.location.reload(true);
//          refreshStatus();
//          this.second = this.totalSec
        } else {
          $('#le-time').text(this.second)
        }
      }

      function refreshStatus() {
        $('#not-finished').removeClass('le-hide');
        countTime();
      }

      $(document).on('ready page:load', function(){

        // for time fresh //
        clear_cle();
        var status_code = <%= @submit.status %>;
        if (status_code < 0) {
          refreshStatus();
        }

        // add class to run status //
        $('#run-status').addClass('<%= class_to_add %>');

        // make the first column of table to bold //
        $('#summary tr td:nth-child(1)').addClass('le-bold');

        // for display expression //
        <% if trans_num > 0%>
        var total_exp_hash = JSON.parse('<%= raw @total_exp_hash.to_json %>');

        // for keeping order
        var trans_name_list = JSON.parse('<%= raw trans_name_list %>');
        var sample_class_list = JSON.parse('<%= raw sample_class_list %>');
        var cell_type_hash = JSON.parse('<%= raw @cell_type_hash.to_json %>');

        // draw bar plot for each transcript
        $('.exp-panel').each(function(i) {
          var trans_name = trans_name_list[i];

          // 1. add panel related classes and IDs
          var panel_id = 'collapse-' + i;
          var ref_panel_id = '#' + panel_id;

          // 1.1 add for panel head
          $(this).find('.panel-heading a').attr({'data-target': ref_panel_id, 'href': ref_panel_id});

          // 1.2 add for panel body
          var panel_body = $(this).find('.for-panel-body');
          panel_body.attr('id', panel_id);

          // 1.3 expand first 3 panels
          if (i <= 3) panel_body.addClass('in');

          // 2.  draw exp bar plot for each sample class
          panel_body.find('.exp-chart').each(function(c) {
            var sample_class = sample_class_list[c];
            exp_list = total_exp_hash[trans_name][sample_class];

            // 2.1 prepare
            var exp_max = null;
            if (Math.max.apply(null, exp_list) < 1) exp_max = 1.5;

            // 2.2. draw
            $(this).highcharts({
              credits: {
                enabled: false
              },
              chart: {
                type: 'column'
              },
              title: {
                text: 'Expression Profile in ' + sample_class
              },
              xAxis: {
                'categories': cell_type_hash[sample_class],

                labels: {
                  rotation: -30,
                  style: {
                    fontSize: '12px',
                    fontFamily: 'Verdana, sans-serif'
                  }
                }
              },
              yAxis: {
                gridLineWidth: 0,
                lineWidth: 1,
                min: 0,
                max: exp_max,
                title: {
                  text: 'FPKM'
                }
              },
              legend: {
                enabled: false
              },
              tooltip: {
                pointFormat: 'FPKM: {point.y:.2f}'
              },

              series: [
                {
                  name: 'FPKM',
                  maxPointWidth: 50,
                  color: '#0275da',
                  data: exp_list

                }
              ]
            }); // chart end
          });

        });
        <% end %>
      })
    </script>
<% end %>

<% content_for :css do %>
    <style>

    </style>
<% end %>

<div class="row">
  <div class="col-md-12">
    <%=	link_to 'Start a new job', new_submit_url, class: 'btn btn-success', role: 'button', target: '_blank' %>
    <!--<a href="" class="btn btn-primary btn-lg disabled" role="button">Primary link</a>-->
  </div>
</div>

<div class="row" style="margin-top: 20px">
  <div class="col-md-12">
    <div class="panel panel-info le-hide" id="not-finished">
      <div class="panel-heading">
        Thanks for using LocExpress
      </div>
      <div class="panel-body">
        <p style="margin-bottom: 10px">This page will be refreshed in <strong class="large-text-2" id="le-time"></strong> sec...Or you can click <%= link_to 'here', result_url, class: 'le-bold'%> to manually refresh. </p>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-md-12">
    <div class="table-responsive" style="margin-top: 20px">
      <table class="table table-striped" id="summary">
        <tr>
          <td>Result URL</td>
          <td><%= link_to result_url, result_url%></td>
        </tr>

        <% if @submit.status == 0 %>
            <tr>
              <td>Download URL</td>
              <% user_download_url = download_url(@submit.name) %>
              <td><%= link_to user_download_url, user_download_url %></td>
            </tr>
        <% end %>

        <% if trans_num > 0 %>
          <tr>
            <td>Number of transcripts</td>
            <td><%= trans_num %></td>
          </tr>
        <% end %>
        <tr id="run-status">
          <td>Run Status</td>
          <td><%= status_info %></td>
        </tr>
       <% if @submit.status > 0 %>
            <tr>
              <td>Error message</td>
              <td><%= @submit.msg %></td>
            </tr>
        <% end %>
      </table>
      <div></div>
    </div>
  </div>
</div>

<% if trans_num > 0 %>
    <div class="row" style="margin-top: 20px">
      <div class="col-md-12">
        <%= render partial: "submit/expression",
                   collection: trans_name_list, as: 'trans_name',
                   locals: {sample_class_num: sample_class_list.length,
                   cell_type_num_list: @cell_type_hash.map {|k, v| v.length}}
        %>
      </div>
    </div>
<% end %>

