$font-size-base: 16px !default;
@import "bootstrap-sprockets";
@import "bootstrap";

.le-hide {display: none}


.big-title {
  font-size: 50px;
}

.le-bold {
  font-weight: 600
}

.large-text-1 {
  font-size: 18px;
}

.large-text-2 {
  font-size: 20px;
}

.small-text-1 {
  font-size: 14px;
}

.panel-heading {
  a:after {
    font-family: 'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
  }

  a.collapsed:after {
    content:"\e080";
  }
}

.page-header {border-bottom: 1px solid #c0c0c0}

.about-header {font-size: 28px; margin-bottom: 0px}