/*body {padding-top: 50px !important}*/
#al-header-logo {padding-left: 20px; height: 50px}
.al-text-24px {font-size: 24px}
.al-text-22px {font-size: 22px}
.al-text-20px {font-size: 20px}
.al-text-18px {font-size: 18px}
.al-text-16px {font-size: 16px}
.al-text-14px {font-size: 14px}
.al-text-10px {font-size: 10px}
.al-header {font-size: 32px; margin-bottom: 0px; display: inline-block}
.al-about-header {font-size: 28px; margin-bottom: 0px}
.al-cs-header {font-size: 32px; margin-bottom: 0px; font-weight: 500; text-decoration: underline}
.al-cs-header a {color: #000000}
.al-sub-header {font-size: 25px; font-style: italic}
.al-small-header {font-size: 18px; text-align: left; font-weight: 500; text-decoration: underline}
.al-go-header {margin-top: 0px; font-size: 28px; margin-bottom: 0px; display: inline-block}
.al-go-sub-header {font-size: 22px; font-style: italic}
.al-center {text-align: "center"}
.al-bg-blue {background-color: #D9EDF3}
.al-bg-red {background-color: #F2DBDA}
.al-bg-green {background-color: #EAF1DE}
.al-bg-purple {background-color: #E3DEEB}
.al-bg-orange {background-color: #FDE9D9}
.al-hide {display: none}
.al-detail-table {font-size: 14px}
.page-header {border-bottom: 1px solid #c0c0c0}

.al-strong {
    font-weight: 600;
}

.al-help-box {
    background-color: #f7f7f9;
    border-radius: 4px;
    padding: 15px 30px;
    margin: 10px 1%;
}

.toggle-help {
    font-size: 22px
}

.al-el-header {
    color: #777777;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
}