.al-doc-header {
    font-size: 30px;
    margin-bottom: 30px;
}
.al-doc-strong {
    font-weight:600;
    font-size: 120%;
}
.al-doc-hr {
    /*border: 1px solid #c0c0c0;*/
    margin-top: 40px;
    margin-bottom: 40px;
}
.al-doc-img {
    margin-top: 10px;
    margin-bottom: 10px;
}

.al-doc-rs-img-inline {
    /*margin-bottom: 50px;*/
}

.al-doc-rs-img-block {
    margin-top: 10px;
    margin-bottom: 50px;
}

.al-doc-rs-header {
    font-size: 26px;
}
.al-doc-rs-content {
    margin-top: 20px;
    margin-bottom: 80px;
}

@media (min-width: 992px) {
    .al-vertical-align{
        display: flex;
        display: -webkit-flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    .al-valign-col{
        margin: auto;
    }
}
/*.vertical-align > [class^="col-"],*/
/*.vertical-align > [class*=" col-"] {*/
    /*display: flex;*/
    /*align-items: center;     *//* Align the flex-items vertically */
    /*justify-content: center; *//* Optional, to align inner flex-items */
                              /*horizontally within the column  */
/*}*/

/*.al-docs-header {*/
    /*padding-bottom: 60px;*/
/*}*/

.al-docs-header {
    margin-top: -20px;
    background-image: linear-gradient(to bottom, white 0px, #F7F7F9 100%);
    background-repeat: repeat-x;
    color: #808080;
    font-size: 24px;
    padding: 30px 0;
    position: relative;
    text-align: left;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.al-docs-header .title {
    color: #404040;
}

.al-md-header {font-size: 28px; margin-bottom: 0px}

.al-mh-1 {
    margin-top:40px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 26px;
}
.al-mh-2 {
    margin-top:20px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 22px;
}
.al-mh-3 {
    margin-top:10px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 20px;
}
.al-md-content-1 {
    /*margin-left: 20px;*/
}
.al-md-content-2 {
    margin-left: 20px;
}
.al-md-content-1 ul{
    padding-left: 20px;
}