
.sidebar {
    font-size: 16px;
}

@media (max-width: 992px) {
    .nav-sidebar {
        display: none;
    }
}
.sidebar .nav > li > a {
    color: #595959;
    display: block;
    font-weight: 500;
    padding: 4px 20px;
}

.sidebar .nav-sidebar .nav > li > a {
    color: #595959;
    display: block;
    font-weight: 500;
    padding: 4px 30px;
    font-size: 13px;
}

.sidebar .nav > li > a:hover, .sidebar .nav > li > a:focus, .sidebar .nav > .active > a{
    background-color: transparent;
    color: #428BCA;
    text-decoration: none;
}


@media (min-width: 992px) {
    .sidebar {
        position: fixed;
        margin-top: 50px;
    }
    .nav-sidebar {
        margin-top: 30px;
        font-size: 14px !important;
    }

    .nav-sidebar > li > a:hover, .nav-sidebar > li > a:focus, .nav-sidebar > .active > a {
        border-left: 2px solid #428BCA;
        padding-left: 18px;
    }

    .nav-sidebar .nav > li > a:hover, .nav-sidebar .nav > li > a:focus, .nav-sidebar .nav > .active > a {
        color: #428BCA;
        border-left: 1px solid #428BCA;
        padding-left: 29px;
    }

}

/*@media (min-width: 1200px) {
    .sidebar {
        padding-left: 20px;
    }
}*/

/*
@media (max-width: 992px) {
    .nav-sidebar {
        display: none;
    }
}
.nav-sidebar {
    margin-bottom: 20px;
    margin-top: 20px;
}
.sidebar .nav > li > a {
    color: #595959;
    display: block;
    font-size: 20px;
    font-weight: 500;
    padding: 4px 20px;
}
.sidebar .nav > li > a:hover, .sidebar .nav > li > a:focus {
    background-color: transparent;
    border-left: 1px solid #428BCA;
    color: #428BCA;
    padding-left: 19px;
    text-decoration: none;
}
.sidebar .nav > .active > a, .sidebar .nav > .active:hover > a, .sidebar .nav > .active:focus > a {
    background-color: transparent;
    border-left: 2px solid #428BCA;
    color: #428BCA;
    font-weight: 700;
    padding-left: 18px;
}
.sidebar .nav .nav {
    display: none;
    padding-bottom: 10px;
}
.sidebar .nav .nav > li > a {
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 1px;
    padding-left: 30px;
    padding-top: 1px;
}
.sidebar .nav .nav > li > a:hover, .sidebar .nav .nav > li > a:focus {
    padding-left: 29px;
}
.sidebar .nav .nav > .active > a, .sidebar .nav .nav > .active:hover > a, .sidebar .nav .nav > .active:focus > a {
    font-weight: 500;
    padding-left: 28px;
}

.sidebar .nav .nav .nav {
    padding-bottom: 10px;
}
.sidebar .nav .nav .nav> li > a {
    font-size: 12px;
    font-weight: 300;
    padding-bottom: 1px;
    padding-left: 40px;
    padding-top: 1px;
}
.sidebar .nav .nav .nav> li > a:hover, .sidebar .nav .nav .nav > li > a:focus {
    padding-left: 39px;
}
.sidebar .nav .nav .nav> .active > a, .sidebar .nav .nav .nav> .active:hover > a, .sidebar .nav .nav .nav> .active:focus > a {
    font-weight: 500;
    padding-left: 38px;
}


.back-to-overview {
    color: #595959;
    */
/*display: none;*//*

    font-size: 16px !important;
    font-weight: 500;
    */
/*margin-left: 10px;*//*

    */
/*margin-bottom: 10px;*//*

    margin-left: -20px !important;
    margin-top: 50px;
    */
/*padding: 4px;*//*

}

.refresh {
    color: #595959;
    */
/*display: none;*//*

    font-size: 16px !important;
    font-weight: 500;
    */
/*margin-left: 10px;*//*

    margin-bottom: 10px;
    margin-left: -20px !important;
    */
/*margin-top: 0px; !important;*//*

    */
/*padding: 4px;*//*

}

.back-to-overview:hover, .refresh:hover {
    */
/*color: #428BCA;*//*

    border-left: 0px !important;

}

@media (min-width: 768px) {
    .back-to-top, .bs-docs-theme-toggle {
        display: block;
    }
}
@media (min-width: 992px) {
    .sidebar .nav > .active > ul {
        display: block;
    }
    .sidebar.affix, .sidebar.affix-bottom {
        width: 213px;
    }
    .sidebar.affix {
        position: fixed;
        top: 20px;
    }
    .sidebar.affix-bottom {
        position: absolute;
    }
    .sidebar.affix-bottom .nav-sidebar, .sidebar.affix .nav-sidebar {
        margin-bottom: 0;
        margin-top: 0;
    }
}
@media (min-width: 1200px) {
    .sidebar.affix-bottom, .sidebar.affix {
        width: 263px;
    }
}*/
