<div class="footer small-text-1">
  <div class="container">
    <p class="text-muted text-center" style="padding:10px; margin-bottom:0px">
      Copyright © 2016,
      <a target="_blank" href="http://www.cbi.pku.edu.cn/">Center for Bioinformatics</a>
      ,
      <a target="_blank" href="http://www.pku.edu.cn/">Peking University</a>
      All Rights Reserved.
    </p>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('.footer').css('position', $(document).height() > $(window).height() ? "inherit" : "fixed");
  })
</script>

<% if Rails.env.production? %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70605144-2', 'auto');
  ga('send', 'pageview');

</script>
<% end %>

