<header class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse"
              class="navbar-toggle collapsed" type="button">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%=link_to raw('<b style="color: #d3d3d3">LocExpress</b>'), root_path, :class => "navbar-brand"%>
    </div>
    <div class="navbar-collapse collapse" id="navbar">
      <ul class="nav navbar-nav navbar-left">
        <li> <%= link_to "FAQ", help_path %></li>
        <li> <%= link_to "About", about_path %></li>
      </ul>
    </div>
  </div>
</header>