<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag  asset_path('application.css'), media: 'all' %>
  <%= yield :css_include %>
  <%= yield :css %>
  <%= javascript_include_tag asset_path('application.js') %>
  <%=	yield :js_include %>
  <%= yield :js %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>

<body>
<%= render 'layouts/header' %>
<div class="container">
  <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
  <%= yield %>
</div>
<%= render 'layouts/footer' %>
</body>
</html>

